* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Dosis", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: #94c8d6;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav__item {
    padding: 20px 10px 20px 10px;
    line-height: 50px;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    letter-spacing: 3px;
}

.nav__link:hover {
    color: #e3c3d4;
}

.section {
    width: calc(50% - 20px);
    padding: 15px;
    padding-bottom: 35px;
    border-bottom: 1px solid #e3c3d4;
}

.section__title {
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 5px;
    color: #94c8d6;
}

.section__item {
    list-style: square;
    padding: 5px;
}

.section__text {
    font-size: 19px;
}

.section__list {
    font-size: 19px;
}

.section__link {
    color: #94c8d6;
}

.section__link:hover {
    color: #e3c3d4;
}

.section-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 30px 30px 30px;
    width: 100%;
    border-bottom: 15px solid #e3c3d4;
}

.section-profile__box {
    text-align: center;
}

.section-profile__img-me {
    width: 200px;
    height: 200px;
    filter: contrast(0.5);
}

.section-profile__title {
    font-size: 24px;
    letter-spacing: 11px;
    text-transform: uppercase;
}

.section-profile__subtitle {
    font-size: 18px;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.footer {
    background-color: #94c8d6;
}

.footer__text {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 5px;
}

.footer__img {
    width: 160px;
    height: 80px;
}

.footer__wrp {
    display: flex;
}

.footer__link {
    color: #fff;
    font-size: 20px;
}