* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Dosis", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header {
    background-color: #94c8d6;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
}

.main {
    border: 1px rebeccapurple solid;
}

.section {
    width: calc(50% - 20px);
}

.section-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 30px 30px 30px;
    width: 100%;
    border-bottom: 15px solid #e3c3d4;
}

.section-profile__box {
    text-align: center;
}

.section-profile__img-me {
    width: 200px;
    height: 200px;
}

.section-profile__title {
    font-size: 24px;
    letter-spacing: 11px;
    text-transform: uppercase;
}

.section-profile__subtitle {
    font-size: 18px;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.section-profile__text {}

.footer {
    border: 1px blanchedalmond solid;
}

.section__item {
    list-style: none;
}

.bkg {
    list-style-image: url(assets/github.svg);
}